/* HeroSearch private styles */
.search-result li {
   
    width:195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }
  
  .search-result li:hover {
    background-color: rgb(92, 241, 6);
  }
  
  .search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
  }
  
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  #search-box {
    width: 200px;
    height: 30px;
    border-radius: 10px;
  }
  
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }