/* You can add global styles to this file, and also import other style files */
body {
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, red, black);
}